.mat-raised-button,
.mat-raised-button {
  margin-right: 8px;
}
.login-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  }

  .mat-form-field{
      width: 250px;
  }
